<div class="hero-unit">
<% if @videos.nil? %>
	<p>No videos available</p>
<% else %>
	<% @videos.each do |video| %>
		<% if video.state = Video::PROCESSED %>
			<h3><%= video.name %></h3>
			<br />
			<video src="<%= video.target_file.split("public/")[1] %>" type="video/mp4" controls>
			Su navegador no soporta este v&iacute;deo.
			</video>
			<br />
            	<% end %>
	<% end %>
<% end %>
</div>
