<!DOCTYPE html>
<html>
<head>
	<title>Video Marketing</title>
  	<%= stylesheet_link_tag    "application", :media => "all" %>
  	
  	<%= csrf_meta_tags %>
	
  	<style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>
</head>
	
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Video Marketing</a>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
              <%if (session[:user_id].nil?||User.find(session[:user_id]).nil?) %>
              <li><a href="/user/signup">Sign Up</a></li>
              <li><a href="/user/loginForm">Log In</a></li>
              <% else %>
              <li><a href="/video/uploadForm">Upload Videos</a></li>
              <li><a href="/user/videos">My Videos</a></li>
              <li><%= link_to 'Log Out',  :controller => "user", :action => "logout", :method => "post" %></li>
              
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
<%= yield %>
	

</body>
	
</html>
